body{
    margin: 0px;
    background-color: #a7a09e;
}
main div{
   background-color: #75615c;
   width: auto;
   display: flex;
   flex-direction: row;
   margin: 3em;
   border-radius: 7px;
   color: white;
}
header{
   color: white;
    text-align: center;
}
article{
    margin: 1em;
}

h3{
    color:  #f7d9d2   ;
}
